.all h1::first-letter{
   color: rgb(98, 0, 255);
}
.all{
    height:400px;
    width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(138, 181, 167);
      flex-direction: column;
      border-radius: 20px;
      padding: 20px;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("https://wallpapercave.com/wp/0ftu4vF.jpg");
    justify-content: center;
      align-items: center;
}
.mm{
    color:rgb(0, 52, 119);
    background-color: rgb(82, 100, 3);
}